/* background-image */
body {
    background-image:       url('img/rptr.png');
    background-size:        400px 400px;
    background-position:    center;
}

/* Hero Section Begin */
.hero {
    position:               relative;
    height:                 95vh;
    display:                flex;
    justify-content:        center;
    align-items:            center;
    text-align:             center;
    color:                  white;
    overflow:               hidden;
    margin-top:             -9.5vh;
}

.parallax-background {
    position:               absolute;
    top:                    0;
    left:                   0;
    width:                  100%;
    height:                 100%;
    background-image:       url('img/ishtar.png');
    background-attachment:  fixed;
    background-size:        cover;
    background-position:    center center;
    z-index:                -1;
}

.hero-content {
    position:               relative;
    z-index:                1;
    max-width:              600px;
    color:                  white;
    text-shadow:            5px 5px 5px rgb(0, 0, 0);
    padding-top:            10vh;
}

.hero h1 {
    font-size:              50px;
    margin-bottom:          20px;
}

.hero h2 {
    font-size:              50px;
    margin-bottom:          20px;
}

.btn-primary {
    background-color:       rgb(255, 255, 0, 0.650);
    padding:                10px 20px;
    color:                  rgb(0, 0, 0);
    text-decoration:        none;
    border-radius:          10px;
    font-size:              15px;
    transition:             background-color 0.5s;
    font-weight:            Bold;
}

.btn-primary:hover {
    background-color:       rgb(255, 255, 0);
    transform:              scale(1.05);
    font-weight:            Bold;
}

html {
    scroll-behavior:        smooth;
}

/* Hero Section Ends */

/* Product Placement */
.section-title a {
    background-image:       url('img/rptr.png');
    background-size:        400px 400px;
    background-position:    center;
    text-align:             center;
    font-size:              30px;
    font-weight:            bold;
    color:                  rgb(238, 255, 0);
    margin-top:             75px;
    margin-bottom:          25px;
}

.section-title b {
    background-image:       url('img/rptr.png');
    background-size:        400px 400px;
    background-position:    center;
    text-align:             center;
    font-size:              30px;
    font-weight:            bold;
    color:                  rgb(238, 255, 0);
    margin-top:             45px;
    margin-bottom:          25px;
}

.video-title {
    font-size:              20px;
    font-weight:            250px;
    color:                  rgb(255, 255, 255);
    margin-top:             5px;
    margin-bottom:          25px;
    letter-spacing:         1px;
}

/* Flex container for product placement */
.product-placement {
    display:                flex;
    flex-wrap:              wrap;
    justify-content:        space-around;
    gap:                    15px;
    margin-bottom:          30px;
}

.video-item {
    width:                  30%;
    text-align:             center;
    margin-bottom:          20px;
    box-sizing:             border-box;
}

.video-thumbnail {
    width:                  250px;  
    height:                 250px; 
    object-fit:             cover;
    cursor:                 pointer;
}

/* Ensuring consistent image sizing */
.product-placement .video-item img {
    max-width:              100%;
    height:                 auto;
}
